@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --dark-primary-color: #1c2331;
  --light-primary-color: #0f1624;
  --primary-text: #e8e4e4;
  --secondary-text: #5daeb4;
  --accent-color: #e31948;

  /* --dark-primary-color: #C2185B;
--light-primary-color: #F8BBD0;
--primary-color: #E91E63;
--accent-color: #536DFE;
--primary-text: #212121;
--secondary-text:#757575; */

  /* --dark-primary-color: #2f3c42;
--light-primary-color: #CFD8DC;
--primary-color: #607D8B;
--accent-color: #5da3f8;

--primary-text:#efeeee;
--secondary-text: #212121; */

  /* colors for tech svg  */
  --svg-fill-color: #e335e9;
  --svg-js-fill: #f7df1e;
  --svg-php-fill: #777bb3;
  --svg-css-fill: #264de4;
  --svg-mysql-fill: #e48e00;
  --svg-html-fill: #ef652a;
  --svg-react-fill: #61dafb;
  --svg-redux-fill: #764abc;

  /* border for tech svg icon */
  --svg-border-width: 1.5px;

  /* courses */
  --size-link-box: 15px;

  /* skilss */
  --offset-skill-point: 15px;
}

body {
  background-color: var(--dark-primary-color);
  color: var(--primary-text);
  font-family: "Lato", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.svg-logo {
  width: 60px;
  position: absolute;
  top: 0px;
  left: 30px;
}
.hidden {
  display: none;
}

/* burger menu */
.burger {
  position: absolute;
  z-index: 999;
  width: 30px;
  height: 24px;
  top: 20px;
  right: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}
.burger input {
  display: none;
}
.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--primary-text);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.burger span:nth-of-type(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.burger span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.burger span:nth-of-type(3) {
  top: 100%;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.burger input:checked ~ span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 4px;
}
.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
.burger input:checked ~ span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 4px;
}
header {
  position: relative;
  background-color: var(--light-primary-color);
}
a {
  color: var(--primary-text);
  text-decoration: none;
  padding: 10px;
}
/* nav menu */
.nav-hide {
  transform: translateY(-100%);
}
nav {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--light-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.95;
  transition: all 0.4s ease;
  border-bottom: 2px solid var(--accent-color);
}
.nav-link {
  padding: 10px 30px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.nav-link:hover {
  border-bottom: 2px solid var(--accent-color);
}
.section-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 1s, opacity 1s;
}
.section-hidden {
  opacity: 0;
  transform: translateY(100px);
}
.about p {
  text-align: justify;
}
.about img {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  width: 100px;
  object-fit: contain;
  border-radius: 10px;
  border: 3px solid var(--primary-text);
}
h1 {
  font-size: 2em;
  margin: 30px 0;
  color: var(--secondary-text);
}
p {
  line-height: 1.5;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 10px;
  padding: 0px;
}
/* portfolio section */
.portfolio-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-title {
  color: var(--accent-color);
  font-size: 1.2em;
  margin: 20px 0;
}
.portfolio-description-wrapper {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  gap: 20px;
  font-size: 0.8em;
}
.portfolio-tech {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.portfolio-description {
  line-height: 1.5;
}
.portfolio-preview {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.portfolio-preview-images {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
}
.portfolio-preview-image {
  width: 100%;
  object-fit: contain;
}
.portfolio-preview-btn-dots {
  position: relative;
  display: grid;
  place-content: center;
  padding: 15px 0px;
  margin-top: 15px;
}
.portfolio-lazy-img {
  filter: blur(20px);
}
.portfolio-footer {
  margin: 20px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: auto;
  font-size: 1em;
}
.portfolio-footer-github {
  justify-self: center;
  align-self: center;
}
.portfolio-footer-github span {
  vertical-align: middle;
  padding: 3px;
  display: inline-block;
}
.portfolio-footer-github span:hover {
  color: var(--accent-color);
}
.portfolio-svg-github {
  width: 28px;
  height: 28px;
  fill: var(--primary-text);
}
.portfolio-svg-github:hover {
  fill: var(--accent-color);
}
.portfolio-footer-demo {
  justify-self: center;
  align-self: center;
}
.portfolio-footer-demo span {
  vertical-align: middle;
  padding: 3px;
  display: inline-block;
}
.portfolio-footer-demo span:hover {
  color: var(--accent-color);
}
.portfolio-svg-demo {
  width: 28px;
  height: 28px;
  color: var(--primary-text);
}
.portfolio-svg-demo:hover {
  color: var(--accent-color);
}
.portfolio-svg {
  width: 16px;
  height: 16px;
}
.portfolio-svg-wrapper {
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 3px;
}
.svg-js {
  border: var(--svg-border-width) solid var(--svg-js-fill);
}
.svg-js-fill {
  fill: var(--svg-js-fill);
}
.svg-html {
  border: var(--svg-border-width) solid var(--svg-html-fill);
}
.svg-html-fill {
  fill: var(--svg-html-fill);
}
.svg-php {
  border: var(--svg-border-width) solid var(--svg-php-fill);
}
.svg-css {
  border: var(--svg-border-width) solid var(--svg-css-fill);
}
.svg-php-fill {
  fill: var(--svg-php-fill);
}
.svg-mysql {
  border: var(--svg-border-width) solid var(--svg-mysql-fill);
}
.svg-mysql-fill {
  fill: var(--svg-mysql-fill);
}
.svg-react {
  border: var(--svg-border-width) solid var(--svg-react-fill);
}
.svg-redux {
  border: var(--svg-border-width) solid var(--svg-redux-fill);
}

/* image slider */
.slide {
  position: absolute;
  top: 0;
  display: grid;
  place-content: center;
  transition: transform 1s;
}
.slider-btn {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background: var(--primary-text);
  color: var(--accent-color);
  border-radius: 50%;
  height: 1.4em;
  width: 1.4em;
  padding: 4px;
  cursor: pointer;
  transition: all 0.5s;
}
.slider-btn:hover {
  color: var(--primary-text);
  background: var(--accent-color);
}
.slider-btn-left {
  left: 0%;
}
.slider-btn-right {
  right: 0%;
}
.dots-dot {
  border: none;
  background-color: var(--primary-text);
  opacity: 0.5;
  aspect-ratio: 1/1;
  width: 1.4em;
  border-radius: 50%;
  margin-right: 1.2em;
  cursor: pointer;
  transition: all 0.5s;
}
.dots-dot:last-child {
  margin: 0;
}
.dots-dot-active {
  opacity: 1;
  background-color: var(--accent-color);
}
.dots-dot:hover {
  background-color: var(--accent-color);
}

/* courses section */
.courses-item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.courses-item-title {
  font-size: 0.8em;
}
.courses-item-title a {
  padding: 0px;
  border-bottom: 2px solid transparent;
}
.courses-item-title a:hover {
  border-bottom: 2px solid var(--accent-color);
}
.courses-item-link {
  cursor: pointer;
  padding-left: 20px;
}
.courses-item-in-progress {
  position: relative;
  display: grid;
  place-content: center;
  border: 2px solid var(--svg-fill-color);
  border-radius: 100%;
  margin-right: 10px;
  padding: 10px;
  width: var(--size-link-box);
  height: var(--size-link-box);
  color: var(--svg-fill-color);
  font-size: 0.6em;
}
.courses-item-link a {
  padding: 0;
}
.courses-svg-pdf {
  width: 30px;
  height: 30px;
}
/* skils */
.skills-item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.skills-item-title {
  width: 120px;
}
.skills-points {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.skill-point {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: var(--accent-color);
  margin: 3px;
}
.skill-off {
  opacity: 0.3;
}
/* footer */
footer {
  background-color: var(--light-primary-color);
  padding: 20px;
  text-align: center;
}
footer p {
  margin: 0;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-svg {
  width: 2em;
  height: 2em;
}
.arrow-go-up {
  all: unset;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 10;
  bottom: 30px;
  right: 30px;
  color: var(--accent-color);
  background-color: var(--primary-text);
  padding: 5px;
  cursor: pointer;
}
.test {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 10px;
  height: 30px;
  background-color: rgb(255, 0, 0);
}

/*############################## Small devices (portrait tablets and large phones, 600px and up) ##############################*/
@media only screen and (min-width: 600px) {
  :root {
    /* border for tech svg icon */
    --svg-border-width: 2px;
    /* courses */
    --size-link-box: 30px;
  }
  .test {
    background-color: #ff9900;
  }
  body {
    font-size: 1.2em;
  }
  li {
    padding: 10px;
  }
  .portfolio-title {
    font-size: 1.4em;
  }
  .portfolio-description-wrapper {
    gap: 30px;
  }
  .portfolio-svg {
    width: 22px;
    height: 22px;
  }
  .portfolio-svg-wrapper {
    width: 40px;
    height: 40px;
    margin: 6px;
  }
  .portfolio-footer {
    font-size: 1.2em;
  }
  .slider-btn {
    height: 2em;
    width: 2em;
  }
  .dots-dot {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin-right: 2.4em;
  }
  .courses-item-wrapper {
    padding: 15px;
  }
  .courses-item-in-progress {
    font-size: 0.8em;
  }
  .courses-svg-pdf {
    width: 30px;
    height: 30px;
  }
  .skills-item-title {
    width: 150px;
  }
  .skill-point {
    width: 18px;
    height: 18px;
    margin: 5px;
  }
  .road-map-item {
    padding: 10px;
  }
  footer p {
    font-size: 1.2em;
  }
  .footer-links {
    gap: 30px;
  }
  .footer-svg {
    width: 3em;
    height: 3em;
  }
  .arrow-go-up {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
  }
}

/*############################## Medium devices (landscape tablets, 768px and up) ##############################*/
@media only screen and (min-width: 768px) {
  :root {
    /* border for tech svg icon */
    --svg-border-width: 3px;
    /* courses */
    --size-link-box: 45px;
  }
  .test {
    background-color: #008000;
  }
  body {
    font-size: 1.4em;
  }
  li {
    padding: 15px;
  }
  .about img {
    margin-right: 20px;
    margin-top: 35px;
    width: 150px;
  }
  .portfolio-title {
    font-size: 1.6em;
  }
  .portfolio-item-wrapper {
    margin-top: 30px;
  }
  .portfolio-description-wrapper {
    gap: 50px;
  }
  .portfolio-svg {
    width: 32px;
    height: 32px;
  }
  .portfolio-svg-wrapper {
    width: 55px;
    height: 55px;
    margin: 10px;
  }
  .portfolio-footer {
    margin: 40px 0 100px 0;
    font-size: 1.6em;
  }
  .portfolio-footer-demo span {
    padding: 16px;
  }
  .portfolio-svg-demo {
    width: 1em;
    height: 1em;
  }
  .portfolio-footer-github span {
    padding: 16px;
  }
  .portfolio-svg-github {
    width: 1em;
    height: 1em;
  }
  .portfolio-preview-btn-dots {
    padding: 30px;
  }
  .slider-btn {
    height: 2.4em;
    width: 2.4em;
    padding: 6px;
  }
  .dots-dot {
    height: 3em;
    width: 3em;
    margin-right: 3em;
  }
  .courses-item-wrapper {
    padding: 15px;
  }
  .courses-item-title {
    padding-left: 30px;
    font-size: 1em;
  }
  .courses-svg-pdf {
    width: 40px;
    height: 40px;
  }
  .skills-item-title {
    width: 250px;
    font-size: 1.4em;
  }
  .skill-point {
    width: 26px;
    height: 26px;
    margin: 10px;
  }
  .road-map-item {
    padding: 15px;
  }
  footer p {
    font-size: 1.4em;
  }
  .footer-links {
    gap: 50px;
  }
  .arrow-go-up {
    width: 60px;
    height: 60px;
  }
}

/*############################## Large devices (laptops/desktops, 992px and up) ##############################*/
@media only screen and (min-width: 992px) {
  :root {
    /* border for tech svg icon */
    --svg-border-width: 5px;
    /* courses */
    --size-link-box: 75px;
  }

  .test {
    background-color: #1100ff;
  }

  body {
    font-size: 1.6em;
  }
  header {
    height: 100px;
    display: grid;
    width: 100%;
  }
  h1 {
    font-size: 2.4em;
  }
  li {
    padding: 20px;
  }
  .svg-logo {
    position: relative;
    width: 160px;
  }
  
  .png-logo {
    position: relative;
    width: 80px;
  }
  
  .hide-burger-menu {
    display: none;
  }
  .nav-hide {
    display: flex;
    transform: translateY(0%);
  }
  .nav {
    position: relative;
    background-color: var(--light-primary-color);
    border-bottom: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .sticky {
    position: fixed;
    z-index: 999;
    border-bottom: 2px solid var(--accent-color);
    opacity: 0.95;
  }
  .about img {
    margin-right: 40px;
    margin-top: 15px;
    width: 200px;
  }
  .portfolio-title {
    font-size: 1.8em;
  }
  .portfolio-item-wrapper {
    margin-top: 0px;
  }
  .portfolio-description {
    font-size: 1.2em;
  }
  .portfolio-description-wrapper {
    gap: 80px;
  }
  .portfolio-svg {
    width: 52px;
    height: 52px;
  }
  .portfolio-svg-wrapper {
    width: 85px;
    height: 85px;
    margin: 20px;
  }
  .portfolio-footer {
    font-size: 1.8em;
  }
  .portfolio-svg-demo {
    width: 1.4em;
    height: 1.4em;
  }
  .portfolio-svg-github {
    width: 1.4em;
    height: 1.4em;
  }
  .dots-dot {
    height: 4em;
    width: 4em;
    margin-right: 2em;

  }
  .courses-item-title {
    font-size: 1.2em;
  }
  .courses-svg-pdf {
    width: 60px;
    height: 60px;
  }
  .courses-item-in-progress {
    border: 4px solid var(--svg-fill-color);
    font-size: 1.2em;
  }
  .skills-item-title {
    width: 300px;
    font-size: 1.6em;
  }
  .skill-point {
    width: 32px;
    height: 32px;
  }
  .road-map-item {
    padding: 20px;
  }
  footer p {
    padding-bottom: 30px;
  }
  .footer-links {
    gap: 50px;
    padding-bottom: 20px;
  }
  .footer-svg {
    width: 3em;
    height: 3em;
  }
  .arrow-go-up {
    width: 70px;
    height: 70px;
  }
}

/*############################## Extra large devices (large laptops and desktops, 1200px and up) ##############################*/
@media only screen and (min-width: 1200px) {
  .test {
    background-color: #f200ff;
  }

  section {
    margin: 0 auto;
    max-width: 1280px;
  }
  nav {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding: 0 25px;
  }
}
